# Ignore all log files
*.log

# Ignore all last_id.txt files
last_id.txt

# Ignore config files
*/config.py

# Ignore sessions files
*.session

# Ignore session journal files
*.session-journal

# Ignore Python cache
__pycache__/
